<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.jf.ChannelMapper">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,
		channelName,
		channelDesc
	</sql>
	<!--resultType="Brand" 每返回一条结果封装到Log里 -->
	
	<select id="isExist" resultType="Channel" parameterType="String">
		select
		<include refid="selectId" />
		from jf_channel
		where jf_channel.channelName = #{name} 
	</select> 
	

		<!-- 增加品牌 
		
			
	<select id="query" resultType="Channel" parameterType="Channel">
		select
		<include refid="selectId" />
		from  jf_customer
		<where>
		<if test="t.customerName != null and t.customerName != ''">
				t.customerName like '%${t.customerName}%'
			</if>
			<if test="t.customerDesc != null and t.customerDesc != ''">
				t.customerDesc = '${t.customerDesc}'
			</if>
		</where>
	</select>
	<insert id="add" parameterType="Brand">
		insert into jf_brand (
			brandName,
			brandDesc
		)values (
			#{brandName},
			#{brandDesc}
		)
	</insert>
	
	<delete id="delete" parameterType="String">
		delete from jf_brand where
		id=#{id}
	</delete>
	
	<select id="getById" parameterType="String" resultType="Brand">
		select
		<include refid="selectId" />
		from jf_brand where id=#{id}
	</select>
	
		<update id="update" parameterType="Brand">
		update jf_brand
		 set
		    brandName =#{brandName},
	    	brandDesc = #{brandDesc}
	   where id = #{id} 
	</update>
	-->
	
		<select id="queryAll" resultType="Channel" parameterType="java.util.HashMap">
		select
		<include refid="selectId" /> 
		from jf_channel where 1=1
		
	</select>

</mapper>